<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Reservation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/image/logo.png" alt="LOGO" style="height: 40px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/reservation">Reservation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img class="profile-image" src="/image/member.png" alt="Profile" style="height: 40px;">
                    <span id="profile-name">Profile</span>
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/reservation-mine">My Reservation</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" id="logout-btn">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div id="content-container" class="col-md-10 offset-md-1 p-5">
    <h2 class="content-container-title">Create Reservation</h2>
    <div class="d-flex" id="reservation-container" >

        <div class="section border rounded col-md-4 p-3" id="date-section">
            <h3 class="fs-5 text-center mb-3">Pick Date</h3>
            <div class="d-flex justify-content-center p-3">
                <div id="datepicker"></div>
            </div>
        </div>

        <div class="section border rounded col-md-4 p-3 disabled" id="time-section">
            <h3 class="fs-5 text-center mb-3">Pick Time</h3>
            <div class="p-3" id="time-slots">
            </div>
        </div>
    </div>

    <div class="button-group float-right">
        <button id="reserve-button" class="btn btn-primary mt-3 disabled">Reserve</button>
    </div>
</div>
</div>

<script src="/js/member.js"></script>
<script src="/js/reservation.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</body>
</html>
